.cgm-button-mine {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  margin: 0;
  box-shadow: none;
}

.cgm-mines-col {
  display: flex;
  flex-direction: column;
}

.cgm-mines-grid {
  display: flex;
  flex-direction: row;
}